<header>ESIS</header>
<div class="grid-container">
  <div class="claim-info">
      <div class="claim-info-text">
          Claim Information - Assign Claim
      </div>
      <div class="switch-user-box">
          <span class="switch-user">Cancel</span>
          <button class="submit-register btn-primary" >
              Submit For Auto Registration
          </button>
      </div>
  </div>
  <br/> 
   <div class="claim-number pt-2">
      <div class="claim-number-title">Claim Number: </div>
   </div>
 
  <div class="claim-status-details">
      <div class="claim-status-division">
          <div class="claim-status-info">
              <div class="claim-status-description">
                  <div>
                      <span class="claim-status-text">Insured Name:</span>
                      <span class="claim-status-value">ABC Company</span>
                  </div>
                  <div>
                      <span class="claim-status-text">Policy Number:</span>
                      <span class="claim-status-value">1E01E014721024</span>
                  </div>
                  <div>
                      <span class="claim-status-text">Contract Number:</span>
                      <span class="claim-status-value">3604</span>
                  </div>                  
                  <div style="text-wrap: nowrap; padding-top: 6px;">
                      <span class="claim-status-text">Loss Description:</span>
                      <span class="claim-status-value">Insured vehicle rear ended claimant vehicle.</span>
                  </div>
              </div>
              <div class="claim-status-description">
                  <div>
                      <span class="claim-status-text">Date Of Loss:</span>
                      <span class="claim-status-value">07/30/2023</span>
                  </div>
                  <div>
                      <span class="claim-status-text">AIM:</span>
                      <span class="claim-status-value">526</span>
                  </div>
                  <div>
                      <span class="claim-status-text">Team Name:</span>
                      <span class="claim-status-value">ProClaim AGL Team 5 - Vitucci</span>
                  </div>
                  <div>
                      <span class="claim-status-text">Office:</span>
                      <span class="claim-status-value">ESIS ProClaim - AGL</span>
                  </div>
              </div>
          </div>
      </div>  
      <div class="claim-status-update">
           <div class="claim-status-update-desscription">Please Select / Update</div>
           <div class="pl-60 pl-0">
              <div class="claim-status-update-box">
                  <span class="claim-status-update-text">Cause of Loss - Claim B</span>
                  <span>
                      <select>
                          <option value="apple">XI - Insured Vehicle Rearended Other Vehicle</option>
                      </select>
                  </span>
              </div>
              <div class="claim-status-update-box">
                  <span class="claim-status-update-text">Contributory Factor - Claim C</span>
                  <span>
                      <select>
                          <option value="apple">VK - Failure to Allow Adequate Clearance</option>
                      </select>
                  </span>
              </div>
           </div>
      </div>
  </div>

  <div class="claim-line-details claim-number">
      <div class="claim-number-title">Line Details</div>
  </div>
  <form >    
    <div class="claim-line-info">
        <div class="claim-line-add">
          <button mat-button class="add-new-claim-register btn-primary" >
            Add / Save
          </button>
        </div>
        <div class="claim-info">
          <div class="claim-line-descriptioin-start">
            <div class="form-group-control">
              <span class="claim-line-text">Claimant</span>
              <span>
                <mat-form-field>
                  <mat-label>Claimant</mat-label>
                  <mat-select formControlName="claimants">
                    <mat-option *ngFor="let claim of Claimant" [value]="claim.value">
                      {{claim.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>
            <div class="form-group-control">
              <span class="claim-line-text-color">Claim Type A Code</span>
              <span>
                <mat-form-field>
                  <mat-label>Claim Type A Code</mat-label>
                  <mat-select formControlName="claimTypeCode">
                    <mat-option *ngFor="let claimType of claimTypeACode" [value]="claimType.value">
                      {{ claimType.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>
            <div class="form-group-control">
              <span class="claim-line-text-color">Line Injury/Damages -Code-D</span>
              <span>
                <mat-form-field>
                  <mat-label>Line Injury/Damages -Code-D</mat-label>
                  <mat-select formControlName="injuryDamageCode">
                    <mat-option *ngFor="let injury of injuryDamageCode" [value]="injury.value">
                      {{ injury.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
            </div>
          </div>
          <div class="claim-line-descriptioin-middle">
              <div class="form-group-control">
                  <span class="claim-line-text">Line</span>
                  <span>
                    <mat-form-field>
                      <mat-label>Line</mat-label>
                      <mat-select formControlName="line">
                        <mat-option *ngFor="let line of linePolicy" [value]="line.value">
                          {{ line.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
              </div>
              <div class="form-group-control">
                  <span class="claim-line-text-color">Loss Reserve</span>
                  <span>
                    <mat-form-field class="example-form-field">
                      <mat-label>Loss Reserve</mat-label>
                      <input matInput placeholder="Loss Reserve" formControlName="lossReserve">
                    </mat-form-field>
                  </span>
              </div>
              <div class="form-group-control">
                  <span class="claim-line-text-color">Expense Reserve</span>
                  <span>
                    <mat-form-field class="example-form-field">
                      <mat-label>Expense Reserve</mat-label>
                      <input matInput placeholder="Expense Reserve" formControlName="expenseReserve">
                    </mat-form-field>
                  </span>
              </div>
          </div>
          <div class="claim-line-descriptioin-end">
              <div class="form-group-control">
                  <span class="claim-line-text">Prior TPA Policy Number</span>
                  <span>
                      <mat-form-field class="example-form-field">
                        <mat-label>Prior TPA Policy Number</mat-label>
                        <input matInput placeholder="Prior TPA Policy Numbere" formControlName="priorTpaPolicyNumber">
                      </mat-form-field>
                  </span>
              </div>
              <div class="form-group-control">
                  <span class="claim-line-text-color">Adjuster</span>
                  <span>
                    <mat-form-field>
                      <mat-label>adjuster</mat-label>
                      <mat-select formControlName="adjuster">
                        <mat-option *ngFor="let adjust of adjuster" [value]="adjust.value">
                          {{ adjust.name }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </span>
              </div>
              <div class="form-group-control">
                  <span class="claim-line-text-color">Additional Initial Instructions</span>
                  <span>
                    <mat-form-field class="example-full-width">
                      <mat-label>Additional Initial Instructions</mat-label>
                      <textarea class="frm-textarea" matInput placeholder="Ex. 100 Main St" formControlName="additionalInitialInstruction"></textarea>
                    </mat-form-field>
                  </span>
              </div>
          </div>
        </div>
    </div>
  </form>
  <div class="claim-details-grid">
      <div class="add-new-claim-register">
          <button mat-button class="btn-primary" >
              Add New
          </button>
      </div>
      
      <div>

      </div>
      <div>
          <p-table #dt1 [value]="claimDetails" dataKey="id" [rows]="100" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50, 100, { showAll: 'All' }]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" styleClass="" sortField="claimantName"
            >
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn pSortableColumn="Role" style="width: 1px">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Role
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Claimant" style="width: 1px">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Claimant
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Line" style="width: 1px">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Line
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Claim Type A Code">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Claim Type A Code
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Line/Injury Damange Code">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Line/Injury Damange Code
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Loss Reserve">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Loss Reserve
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Expense Reserve">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Expense Reserve
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Adjuster">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Adjuster
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Prior TPA Claim Number">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Prior TPA Claim Number
                  </div>
                </th>
                <th pResizableColumn pSortableColumn="Action">
                  <div class="flex align-items-center" style="color: #150F96;">
                    Action
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td>
                  <span>
                    {{ data.role }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.claimant }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.line }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.claimTypeACode }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.lineInjuryDamangeCode }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.lossReserve }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.expenseReserve }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.adjuster }}
                  </span>
                </td>
                <td>
                  <span>
                    {{ data.priorTPAClaimNumber }}
                  </span>
                </td>
                <td>
                   <span><button class="submit-register" >Edit</button></span>
                   <span><button class="submit-register">Remove</button></span>
                   <span><button class="submit-register">Copy</button></span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="13">No claims found</td>
              </tr>
            </ng-template>
          </p-table>
      </div>
  </div>
</div>
